<nav class="bg-blue-600 text-white p-4 flex justify-between">
  <a href="/" class="text-lg font-bold">Nepal Tek Community</a>
  <ul class="flex space-x-4">
    <li><a href="/" class="hover:underline">Home</a></li>
    <li><a href="/events" class="hover:underline">Events</a></li>
    <li><a href="/about" class="hover:underline">About</a></li>
    <li><a href="/contact" class="hover:underline">Contact</a></li>
  </ul>
</nav>
